/* css imports */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap");

/* css rules */
:root {
  --blue-color: rgba(9, 75, 114, 1);
  --gray-color: rgba(79, 79, 79, 1);
  --light-gray-color: rgba(139, 140, 140, 1);
  --dark-gray-color: rgba(45, 47, 48, 1);
  --white-color: #fff;
  --beige-color: #f2f7ff;
  --Playfair-font: "Playfair Display";
  --Jakarta-font: "Plus Jakarta Sans";
  --Poppins-font: "Poppins";
  --size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--Poppins-font);
  text-align: center;
}

h1,
h2,
h3 {
  font-family: var(--Playfair-font);
  color: var(--dark-gray-color);
}
h2 {
  font-size: 2.4rem;
}
/* contact hero */
.hero-banner {
  background: linear-gradient(rgba(0, 77, 123, 0.85), rgba(0, 77, 123, 0.85)),
    url(../img/bg.png) center center no-repeat;
  background-size: cover;
}

.hero-banner h1 {
  font-weight: 900;
  color: rgba(249, 248, 249, 1);
}

/* end contact hero */
/* start contact-form */
.row {
  padding: 0 20rem;
}

/* error icons */
.contact-form form div {
  position: relative;
}

.contact-form form div .fa-solid {
  position: absolute;
  top: 22%;
  right: 5%;
  font-size: 1.5rem;
  visibility: hidden;
}

.fa-xmark {
  color: red;
}

.fa-check {
  color: rgba(1, 122, 1, 0.727);
}

/* end error icons */
.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  border: none;
  height: 5rem;
  margin-bottom: 2.5rem;
  padding-left: 2.5rem;
  background-color: #ffffff;
  outline: none;
  -webkit-box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, 0.2);
  text-align: start;
}
.contact-form .input-field.error {
  border: 1px solid red;
}
.contact-form .message{
  text-align: start;
  margin: -1rem 0 2.5rem 1rem;
}
.contact-form .message.error{
  color: red;
}
.contact-form .input-field.valid {
  border: 1px solid green;
}
.contact-form .message.valid{
  color: green;
}
.contact-form textarea {
  padding-top: 2rem;
}

.contact-form input::-webkit-input-placeholder,
.contact-form select,
.contact-form textarea {
  color: #737272;
}

.contact-form input:-ms-input-placeholder,
.contact-form select,
.contact-form textarea {
  color: #737272;
}

.contact-form input::-ms-input-placeholder,
.contact-form select,
.contact-form textarea {
  color: #737272;
}

.contact-form input::placeholder,
.contact-form select::placeholder,
.contact-form textarea::placeholder {
  color: #737272;
  text-align: start;
}

.contact-form textarea.message-box {
  height: 13.5rem;
}

.contact-form button {
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  background-color: var(--blue-color);
  border: 0.1rem solid var(--blue-color);
  color: #ffffff;
  margin-top: 1.5rem;
  transition: .5s ease;
}

.contact-form button:hover {
  background-color: transparent;
  color: var(--blue-color);
}

/* error message */
.contact-form .danger {
  font-size: 1.3rem;
  text-align: start;
  margin: -1rem 0 2.5rem 1rem;
}

/* end error message */
/* end contact-form */

/* start contact info */
.contact-info {
  padding: 5rem 0;
}

.sub-contact {
  display: flex;
  justify-content: space-between;
}

.info article {
  margin: 1.6rem 0;
}

.info article:first-child h4 {
  font-size: 1.5rem;
}

.info article:first-child p {
  width: 35rem;
}

.info article h4 {
  font-size: 1.2rem;
  padding: 1rem 0;
  color: var(--blue-color);
  font-weight: 700;
  text-align: start;
}

.info article p {
  text-align: start;
  color: var(--gray-color);
}

#map {
  height: 40rem;
  width: 100%;
  margin-left: 5rem;
}

/* end contact info */

@media (max-width: 1024px) {
  .row {
    margin-top: 2rem;
    padding: 0 10rem;
  }
}

@media (max-width: 768px) {
  .row {
    margin-top: 5rem;
    padding: 0 2rem;
  }

  .sub-contact {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .info {
    margin-top: -10rem;
    width: 100%;
  }

  .info article {
    text-align: center;
  }

  #map {
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .row {
    margin-top: 5rem;
    padding: 0;
  }

  #map {
    margin-left: 0;
  }
}

/* shake incorrect input validation */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
